# Logs
logs

# Node modules
node_modules/
npm_modules/

# Metro bundler cache
.metro-bundler-cache/

# React Native packager cache
packager-cache/

# Expo
.expo/

# Misc
.env
.env.*

# MacOS
.DS_Store

